/**
Common classes for styling my site
*/
.width-45 {
	max-width: 45%;
	margin: 0 auto;
}
.width-55 {
	max-width: 55%;
	margin: 0 auto;
}
.width-65 {
	max-width: 65%;
	margin: 0 auto;
}
.width-75 {
	max-width: 75%;
	margin: 0 auto;
}
.width-85 {
	max-width: 85%;
	margin: 0 auto;
}
/* Margin and padding classes */
.no-margin { margin: 0; }
.no-padding { padding: 0; }
.thin-margin-top     { margin-top:      1rem; }
.thin-margin-bottom  { margin-bottom:   1rem; }
.margin-top          { margin-top:      3rem; }
.margin-bottom       { margin-bottom:   3rem; }
.medium-margin-top    { margin-top:     6rem; }
.medium-margin-bottom { margin-bottom:  6rem; }
.large-margin-top    { margin-top:     10rem; }
.large-margin-bottom { margin-bottom:  10rem; }
.less-margin-bottom { margin-bottom:-4rem; }
.padding-top-bottom  { padding:       6rem 0; }
.small-padding-top-bottom { padding:  3rem 0; }
.internal-padding    { padding:         2rem; }
.thin-inter-padding  { padding:       0 1rem; }
/* Text classes */
.color-inherit, .color-inherit:hover, .color-inherit:focus { color: inherit; }
.no-decoration, .no-decoration:hover, .no-decoration:focus { text-decoration: none; }
.text-upper { text-transform: uppercase;  }
.font-light { font-weight: 300; }
.font-larger { font-size: 18px; }
.text-muted { color: #989898; }


html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
body {
  width:100%;
  margin:0 auto;
}
/*
header {
  width:100%;
  position: fixed;
  background: black;
  color: grey;
  min-height: 80px;
  display:flex;
  align-items: center;
}
*/

#nav-control:after {
	content: "\00d7";
	font-size: 2rem;
}
#nav-control.open:after {

 content: "\203A";
 font-size: 2rem;
}
.sidebar-nav {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #282828;
	overflow: hidden;
	transition: all 0.5s ease;
	padding: 60px 0 0 0;
	color: grey;
	text-align: left;
	/* opacity: 1; */
}
.sidebar-nav a {
	color: #00D5FF;
}
 .navClose {
	width:0px;
	/* opacity: 0; */
}
.navClose header {
	opacity: 0;
}
header {
	padding: 0 2rem;
	opacity: 1;
	transition: all .5s ease;
}
.nav-btn {
	z-index: 1;
	background:#282828;
	color: grey;
	padding: 1rem;
	position: fixed;
	border: none;
	margin-left: -5em;
	transition: margin-left 0.5s ease;
}
.nav-btn:focus {
	outline: none;
}
.nav-btn.open {
	margin-left:0;
}
.navbar {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  left: 0;
  padding: 2rem 0;
}
.navbar span {
  padding:  0;
}
.navbar a {
	color:#D3D3D3;
	transition: color ease .5s;
}
.navbar a:hover {
	color:#50FFFF;
}
span.left {
  font-size:2rem;
	font-family: 'Montserrat', sans-serif;
}

.img-self {
  max-width:180px;
  width:100%;
  margin:2rem 0;
  display: block;
  border-radius: 8%;
}
.navbar-mobile {
	padding: 1rem;
}

#nav-mobile {
  background-color:#282828;
  position: fixed;
  top: -50px;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 3;
}

#nav-mobile a {
	color: #D3D3D3;
	transition: color ease .5
	}
#nav-mobile a:hover {
	color:#50FFFF;
	}
main {
	margin-left: 280px;
	transition: margin-left .5s ease;
}
.mainClose {
	margin-left: 0px;
}

#intro {
	background-image: url('../img/intro_bg.jpg');
	/*background-size:100%;*/
	height: 55vh;
/*	display:block;
	padding:0 !important;
	margin:0;*/
	/* Create the parallax scrolling effect */
    background-attachment: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	transition: all .5s ease;
}

.overlay-heading {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  text-align:center;
  color:white;
  background: rgba(0, 0, 0, .45);
}

.btn {
  border: 1px solid white;
  padding:1rem 2rem;
  margin: 2rem 0;
  transition: all ease .5s;
}
.btn:hover {
  background:rgba(225, 225, 225, .75);
}
a.workLink  {
  color: white;
  text-decoration: none;
  transition: color ease .5s;
}
a.workLink .btn:hover {
  color: black;
}

/** Font Styles ***/

h1 {
  font-size:2.5rem;
  margin-bottom:1rem;
	font-family: 'Montserrat', sans-serif;
}
h2 {
  font-size:2rem;
  margin-bottom:1rem;
  font-weight: 700;
  color: #434445;
}
h3 {
  font-size:1.75rem;
	margin-bottom:1rem;
}
h4 {
  font-size:1.25rem;
	margin-bottom:1rem;
	font-weight: 700;
	line-height: 1.3;
}
h5 {
  font-size:1.25rem;
	margin-bottom:1rem;
	font-weight: 700;
	line-height: 1.3;
}
nav h5 {
	margin-bottom:.5rem;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom:1rem;
  color:#434445;
	font-weight: normal;
}

a {
  text-decoration: none;
  color: rgb(3, 117, 184);
  transition: all 1s ease;
}
a:hover {
	color: #00D5FF;
}
strong {
	font-weight: bolder;
}

section#about, section#work, section#contact {
  padding: 4rem 0;
}
section#work {
	background: #f8f8f8;
}
#about h2, #work h2, #contact h2 {
  text-align: center;
}

section#about {
	background: #282828;
}
section#about a {
	color: #50FFFF;
}
section#about h2, section#about p {
  color: #D3D3D3;
}
section#work h2, section#work p {
  /*color: grey;*/
	color: #434445;
}

.wrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  /* align-items: center; */
	max-width: 1200px;
  margin: 4rem auto;

}

.project {
  /*background: #444;*/
	max-width: 300px;
  min-width: 300px;
	width:100%;
  min-height:250px;
  padding: 1rem;
  margin: 2rem 1.25rem;
	/* position: relative; */
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.project .img-container {
	height: 160px;
	display: flex;
	align-items: center;
}
.img-container img {
	max-width: 250px;
	max-height: 110px;
	margin: 0 auto;
	width: 100%;
	display:block;
}
.project-info {
	padding: 1em 0;
	/*background: #f8f8f8;
	 position: absolute; */
	display: flex;
	flex-direction: column;
	/* height: 100%; */
	width: 100%;
	top: 0;
	justify-content: flex-start;
	/* opacity: 0; */
	opacity: 1;
	transition: all ease 1s;
	border-top: 1px solid lightgrey;
}
.project-info h4 {
	color: #434445;
	transition: all ease 1s;
}
.project-info p {
	font-size: .8rem;
}
.project:hover .project-info h4 {
	color:grey;
}

.project:hover .project-info a {
	color: #00D5FF;
}

.about-wrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
	max-width: 1200px;
  margin: 4rem auto;
	text-align: center;
}
.about-wrapper div {
	flex-basis: 250px;
	margin: 2rem 1.5rem;
}
.about-wrapper div p {
	margin-top: 1.25rem;
}

footer {
	background: #111;
	padding: 0 2em;
}
footer p {
	font-size: .75rem;
}

.desktop-hidden {
	display: none;
}
/**** MEDIA QUERIES ***/

@media screen and (min-width: 1600px) and (max-width: 2000px) {
	#intro {
    height: 103vh;
	}
	.sidebar-nav {
		max-width: 280px;
	}
}
@media screen and (min-width: 1280px) and (max-width: 1600px) {
	#intro {
    height: 102vh;
	}
	.width-45 {
	   max-width: 55%;
	}
	.sidebar-nav {
		max-width: 280px;
	}

}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
	#intro {
    height: 102vh;
  }
	.width-45 {
    max-width: 65%;
	}
	.sidebar-nav {
		max-width: 280px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	#intro {
		height: 76vh;
	}
	.width-45 {
    max-width: 75%;
	}
	.sidebar-nav {
		max-width: 280px;
	}
}

@media screen and (max-width: 768px) {
	.mobile-hide {
		display: none;
	}
	.desktop-hidden {
		display: block;
	}

	.navbar {
	    display: flex;
	    flex-direction: row;
			flex-wrap: wrap;
	    justify-content:center;
	    padding: 1rem 0;
	}
	.navbar span {
		padding: 0 1rem;
	}
	.info {
		width: 100%;
		text-align: center;
	}
	.navbar p {
		font-size:.75rem;
	}

	.sidebar-nav {
		height: auto;
		width:100%;
		padding: 0;
		text-align: center;
		position: relative;

	}

	.navClose {
		width:100%;
		height: 51px;
	}
	.img-self {
    max-width: 120px;
    width: 100%;
    margin: 2rem auto .5rem;
    display: block;
    border-radius: 8%;
}
	main {
		margin-left: 0px;
	}
	.nav-btn {
    right: 0;
		/*transform: rotate(90deg);*/
		top:0px;
		width: 100%;
		text-align: right;
		display: none;
	}
	h1 {
    font-size: 1.5rem;
	}
	h5 {
		font-size:1rem;
	}
	.btn {
    border: 1px solid #fff;
    padding: 1rem 1rem;
    margin: .5rem 0;
    transition: all ease .5s;
	}
	.width-45 {
    max-width: 90%;
	}

	.wrapper {
    margin: 1rem auto;
	}
	.project {
		width:90%;
		margin:1rem 2rem;
		max-width: 400px;
	}
	.project-info {
    width: 90%;
		overflow: scroll;
	}
	#contact p {
		text-align:center;
	}
}
